:root{
	--standard-color: #00a65a;
}

.login-page{background-color:var(--standard-color);}

.box-content{
	background-color:#fff;
	border-top:5px solid green;
	padding:10px;
}

.fatura-status-pago{
	background-color:green;
	color:white;
	border-radius:4px;
	padding:3px 5px;
}

.fatura-status-expirado{
	background-color:orange;
	color:white;
	border-radius:4px;
	padding:3px 5px;
}

.fatura-status-pendente{
	background-color:cyan;
	color:navy;
	border-radius:4px;
	padding:3px 5px;
}

.fatura-status-atraso{
	background-color:red;
	color:white;
	border-radius:4px;
	padding:3px 5px;
}

.fatura-status-cancelado{
	background-color:gray;
	color:white;
	border-radius:4px;
	padding:3px 5px;
}

.fatura-status-desconhecido{
	background-color:navy;
	color:white;
	border-radius:4px;
	padding:3px 5px;
}

.dataTables_wrapper{
	font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.dataTables_wrapper select{margin:0px 10px;}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	color:white !important;
	background:none;
	background-color:green;
}

.green_tag{background-color:green;color:white;padding:5px;margin-right:5px;border:1px solid #ddd;}
.red_tag{background-color:red;color:white;padding:5px;;margin-right:5px;border:1px solid #ddd;}
.orange_tag{background-color:orange;color:white;padding:5px;;margin-right:5px;border:1px solid #ddd;}
.gray_tag{background-color:gray;color:white;padding:5px;;margin-right:5px;border:1px solid #ddd;}
.blue_tag{background-color:blue;color:white;padding:5px;;margin-right:5px;border:1px solid #ddd;}
.purple_tag{background-color:purple;color:white;padding:5px;;margin-right:5px;border:1px solid #ddd;}

#customers_list{display:none;}
table thead th{background-color:var(--standard-color);color:white;}

input[type=radio] + label{margin-right:20px;}